/* https://ionicframework.com/docs/theming/color-generator */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
  }

:root {
	--ion-font-family: 'Poppins', sans-serif;

	--ion-color-primary: #17C64F;
	--ion-color-primary-rgb: 23,198,79;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #14ae46;
	--ion-color-primary-tint: #2ecc61;

	--ion-color-secondary: #BDBDBD;
	--ion-color-secondary-rgb: 189,189,189;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #a6a6a6;
	--ion-color-secondary-tint: #c4c4c4;

	--ion-color-tertiary: #2D84CB;
	--ion-color-tertiary-rgb: 45,132,203;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #2874b3;
	--ion-color-tertiary-tint: #4290d0;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}

.custom-ion-input {        
    --padding-start: 12px; 
    --padding-end: 12px;         
}

ion-card-subtitle{
    font-size: 1rem;
}

.border-div {
    border: 1px solid #e2e2e2; 
    padding: 2px;
    border-radius: 8px; 
}

.ion-margin-auto {
    margin: auto;
}

ion-content{
    --background: #F3F3F3; 
	--border-radius: 12px;  
	--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}

ion-footer {
    background: #F3F3F3; 
    --ion-safe-area-bottom: 20px; 
}

ion-button {
	--background: var(--ion-color-primary);
	--background-hover: var(--ion-color-primary-shade);
	--background-activated: var(--ion-color-primary-shade);
	--background-focused: var(--ion-color-primary-shade);  
	--color: #fff;  
	--border-radius: 12px;  
	--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  }


.toast-success {
	--background: var(--ion-color-success);
	--color: white;
  }
  
  .toast-danger {
	--background: var(--ion-color-danger);
	--color: white;
  }
  
  .toast-alert {
	--background: var(--ion-color-warning);
	--color: white;
  }
