.transacoes-header {
    text-align: center;
    background-color: #c6c6c6;
    color: white;
    padding: 15px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .filtros-container {
    border-radius: 8px;    
  }
  
  .filtro-select {
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;    
  }
  
  .ion-select {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
  }

.editable-input {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.non-editable {
  color: #888;
}