.border-div {    
  border-bottom: 1px solid #e4e2e2; 
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 100%;
}

.label-full-width {
  display: flex;
  align-items: center; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nome-instituicao {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.divisor {
  margin: 0 8px;
  color: #ccc;
}

.text-blue {
  color: #2D84CB; 
}

.rounded-image {
  width: auto;
  height: 50px;
  border-radius: 50%; /* Isso cria o efeito arredondado */
}

.hover-effect-div {
  transition: background-color 0.3s ease; /* Adiciona uma transição suave para o efeito de hover */
}

.hover-effect-div:hover {
  background-color: #e0e0e0; /* Muda a cor de fundo no hover para um cinza mais escuro */
}